{##
/**
 * @category   MonolithForge/OpenCart/Bootstrap4ThemeBasic
 * @package    opencart-bootstrap4-theme-basic
 * @author     dev@monolithforge.com
 * @copyright  2018 Monolith Forge, LLC
 * @license    https://www.monolithforge.com/license/opencart-bootstrap4-theme-basic.txt
 * @version    3.0.2.0-bootstrap4-theme-basic-a7-dev
 */
#}
{{ header }}
<div id="common-maintenance" class="container">
  <div class="row">
    <div class="col-12">{{ message }}</div>
  </div>
</div>
{{ footer }}