{##
/**
 * @category   MonolithForge/OpenCart/Bootstrap4ThemeBasic
 * @package    opencart-bootstrap4-theme-basic
 * @author     dev@monolithforge.com
 * @copyright  2018 Monolith Forge, LLC
 * @license    https://www.monolithforge.com/license/opencart-bootstrap4-theme-basic.txt
 * @version    3.0.2.0-bootstrap4-theme-basic-a7-dev
 */
#}
<div id="search" class="input-group input-group-lg">
  <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control" />
  <span class="input-group-append">
    <button type="button" class="btn btn-light border"><i class="fa fa-search"></i></button>
  </span>
</div>